*{box-sizing:border-box;margin:0}body{font-family:"MyFont", Arial}@font-face{font-family:MyFont;src:url(../../nunito-regular.woff)}@font-face{font-family:MFont;src:url(../../poppins-v1-latin-600.woff)}
.Topnav{z-index:10;position:sticky;top:0;background:#fff;height:65px;overflow:hidden}@media(max-width:600px){.Topnav{box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)}.line-border{display:none}}
.Topnav img,.MD-navleft img{width:215px;display:inline-block;padding:8.5px 0 10px 15px}
.hamburger{padding:18px 19px}
.bar{width:33px;height:4px;background:#33475b;margin:4px 0;border-radius:20px}
.line-border{height:7px;background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);width:100%;position:sticky;top:65px;z-index:10}
header{padding:16px;margin:auto}
header a{font-family:MFont}
.catdiv{font-size:1.130rem;vertical-align:baseline;margin:0 10px;color:#6f8190;padding-bottom:5px}
.TopTitle,h1,h2,h3,h4,h5{font-family:"MFont", Arial;color:#0d0d0d;font-weight:normal;line-height:1.25;letter-spacing:-.5px}.TopTitle{letter-spacing:-.5px;font-weight:normal;line-height:1.2;font-size:36px;margin:5px 0;padding:0;}
.Author{width:100%;padding:5px 0 22px 5px}
.Author img{height:45px;width:45px;display:inline;float:left;border-radius:50%}
.Author p{color:#6f8190;font-size:15px;display:inline;margin:4px 0 10px 0;letter-spacing:.5px;float:left;line-height:1.3;padding:0 16px 0 12px}
.AuthorName{line-height:0;box-shadow:inset 0 -1px 0 #EEE;font-family:MFont;letter-spacing:-.2px}
.Date{font-size:13px}
.social{position:fixed;z-index:5;padding-left:16px}
.social li{list-style-type:none}
.social svg{background:#fff;transition-duration: 0.3s;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);border-radius:50%;}
@media(max-width:935px){.social li{display:inline;margin-right:5px}.social{bottom:3px}}
.main{padding:0 16px;margin:auto}
.mainphoto{width:100%;margin-bottom:12px;border-radius:5px;box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
p,li{font-size:18px;color:#000000;line-height:1.65}p{padding:9px 0}
.navi .menu{right:0;top:0;z-index:11;position:absolute;height:100%;transition:all 0.2s cubic-bezier(0.25, 0.94, 0.45, 0.46);position:fixed;width:100%}input#toggle:checked ~ .menu{right:-700px}
.navi a{color:#0d0d0d;padding:18px 0 0 16px;font-size:22px;display:block}
.leftmenu{display:inline-block;width:30%;height:100%;float:left}
.rightmenu{box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);padding:60px 0 0 5%;display:inline-block;position:fixed;width:70%;background:#fff;height:100%;overflow:scroll}
.closebutton{float:right;margin:-62px 0 0 0;line-height:1.2;font-size:55px;padding:0 16px;color:#33475b;font-weight:300}
h1,h2,h3,h4{font-size:29px;position:relative;padding:30px 18px 5px 0}
img{width:100%}.TitleDiv{height:4px;background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);width:60px;margin:8px 0 15px 0;border-radius:90px}
.faq,a{text-decoration:none;color:#00bbd7}
.ID{ position:absolute; top:-65px}
b,strong{font-weight:normal}.main a{font-family:MFont;line-height:0}
.row:after, row:before {content:""; display:table; clear:both;}
.box div{margin:10.5px 7px 0 14px;float:left;border-radius:50%;height:13px;width:13px;background:#00bbd7}.box p{text-align:left;font-family:MFont;font-size:15px;line-height:1;padding:10px 14px}.box h4,.box h5{letter-spacing:0;padding:9px 18px 0 18px;font-size:23px}.box img{width:100%;height:50%}.box p span{margin:0 5px;color:#f2f2f2}.box h4 span,.box h5 span{color:#b3bcc4}
.box a{color:#00bbd7;text-decoration:underline}.box:hover{box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2)}.box{background:#fff;margin:10px 5px;display:inline-block;width:260px;height:300px;border-radius:8px;transition-duration:0.3s;box-shadow:0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12)}
.hide-s,.hide-sm,.hide-ml,.h-SL,.shadow{display:none}.half li{display:inline;list-style-type:none}footer{text-align:center}
.navi a:hover, footer a:hover{color:#00bbd7;box-shadow:inset 0 -1px 0 #00bbd7}
.social svg:hover{box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);}
.photo{padding:16px 0;position:relative}.photo h3{position:absolute;bottom:19px;font-size:15px;padding:0 0 8.5px 12px}.photo img{padding-bottom:30px;width:100%;border-radius:3px;background:#f2f2f2}
.D-nav a{font-family:MFont;display:inline-block;padding:5px 10px;text-align:center;text-transform:uppercase;font-size:18px;color:#33475b;font-weight:600;letter-spacing:-.1px}.D-nav a:hover{color:#00bbd7;box-shadow:inset 0 -2px 0 #00bbd7}
aside, .maxwidth{max-width:1220px;margin:auto!important}
input{display:none}
.MD-nav{z-index:10;text-align:center;position:fixed;top:0;max-width:1400px;margin:auto;width:100%;background:#fff}
.MD-navleft{height:65px;width:35%;max-width:250px;display:inline-block;float:left}
.D-nav{padding:14px 10px 0 10px;height:65px;width:65%;max-width:1050px;display:inline-block;float:left;overflow:auto;white-space:nowrap}
.side{width:316px}
.suggestions{position:relative;z-index:6;text-align:center;padding:30px 0;background:#f2f2f2}
.sugtitle{font-size:25px;padding:0 18px;text-align:left}
footer{z-index:7;position:absolute;background:#fff;border-top:1px solid #EEE;padding:30px 30px 20px 30px;width:100%}
footer a{color:#33475b;box-shadow:inset 0 -1px 0 #EEE;font-size:15px}.hsm a{box-shadow:none}
.fdiv{width:100%}
.fdivmax{max-width:700px;margin:0 auto}
.noshadow{box-shadow:none!important}
.footerlogo{width:185px;padding:2.5px 0 0 0;opacity:.95;margin:0 auto 15px auto}
.pnt{margin-left:20px}
.socialmedia{margin-top:-15px;padding:0}
.cpyrght{font-size:12px;color:#33475b}
.follow-us{font-size:15px;color:#33475b}
.shadow{margin-top:20px;position:absolute;right:0;width:.1px;height:290px;box-shadow: 0 32px 20px 0 rgba(0, 0, 0, 0.14), 0 20px 6px 0 rgba(0, 0, 0, 0.12), 0 6px 15px 10px rgba(0, 0, 0, 0.2);z-index:3;opacity:.9}
.mainbox{padding:10px 15px;font-family:arial}


@media (max-width:900px){.shadow{display:block!important}.mainbox{overflow:auto;white-space:nowrap;width:100%}}
@media (min-width:1220px){.TopTitle{font-size:54px;margin:0 0 3px 0}.h-L{display:none!important}.hide-sm{display:block!important}.main{width:904px}header{width:990px}.MD-nav{padding-left:18px}.main,.side{display:inline-block;float:left}.main{padding-left:136px}.msocial{max-width:1130px;margin:auto}}
@media (min-width:600px) and (max-width:1219px){.TopTitle{font-size:46px;margin:8px 0 3px 0}header{max-width:784px}.main{max-width:784px}.msocial{max-width:930px;margin:auto}.h-SL{display:block!important}}
@media (min-width:600px){h1,h2,h3,h4{font-size:32px}.photo{max-width:650px;margin:auto}.mpic,.navi,.bar,.h-ML{display:none!important}.half{display:inline-block;float:left;width:50%;padding-bottom:25px}.hide-s{display:block!important}}

/* Ads */
.googleAds{height:90px;width:100%;max-width:720px;margin:auto;overflow:hidden!important}
@media (max-width:600px){main .googleAds{height:250px;width:100%;max-width:300px;margin:30px auto 0 auto}header .googleAds{height:60px;width:100%;max-width:450px;margin-bottom:10px;margin-top:2px}}
@media (min-width:601px){main .googleAds{margin:30px auto 0 auto}header .googleAds{margin-bottom:11px;margin-top:2px}}
.Ads{text-align:center;line-height:.4;margin-bottom:20px;font-size:14.5px;color:#6f8190}